<!DOCTYPE html>
<html>
<head>
  <title>ライバルを見つけよう | Rival at Works</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"><%= link_to image_tag('logo_rivals.png'),root_path %></div>
    </div>

    <%= form_tag '/search', method: :get, class: "navbar-form navbar-left" do %>
        <div class="form-group">
          <input class="form-control" name="keyword" placeholder="大学名で検索" type="text" value="">
        </div>
        <button class="btn btn-inverse" title="検索" type="submit">検索</button>
    <% end %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "HOME", rivals_path %></li>
        <% unless user_signed_in? %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ","/users/#{current_user.id}", method: :get %></li>
              <li><%= link_to "投稿する", rivals_new_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
        <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
      <%= yield %>
</div><!-- containerのとじタグ -->

<footer>
  <small>Copyright (C) 2015 All Rights Reserved.</small>
</footer>
</body>